body
{
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png)
}
img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

figure {
    margin: auto;
}

figure img {
    display: inline-grid;
    height: 100px;
    width: 150px;
    border-radius: 0px;
}
h1
{
    font-family: 'Nunito', sans-serif;
    color: red;
    text-align: center;
}
p
{ 
    font-family: 'Poiret One', cursive;
    color: red;
    text-align: center;
}
section
{
    font-family: 'Poiret One', cursive;
    color: red; 
    text-align: center; 
}

.btn{
    position: fixed;
    bottom: 0px;
    right: 0px; 
}